In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset=pd.read_csv("CKD.csv")
dataset

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,2.000000,76.459948,c,3.0,0.0,normal,abnormal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,yes,no,yes
1,3.000000,76.459948,c,2.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,34.000000,12300.000000,4.705597,no,no,no,yes,poor,no,yes
2,4.000000,76.459948,a,1.0,0.0,normal,normal,notpresent,notpresent,99.000000,...,34.000000,8408.191126,4.705597,no,no,no,yes,poor,no,yes
3,5.000000,76.459948,d,1.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,poor,yes,yes
4,5.000000,50.000000,c,0.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,36.000000,12400.000000,4.705597,no,no,no,yes,poor,no,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,219.000000,...,37.000000,9800.000000,4.400000,no,no,no,yes,poor,no,yes
395,51.492308,70.000000,c,0.0,2.0,normal,normal,notpresent,notpresent,220.000000,...,27.000000,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
396,51.492308,70.000000,c,3.0,0.0,normal,normal,notpresent,notpresent,110.000000,...,26.000000,9200.000000,3.400000,yes,yes,no,poor,poor,no,yes
397,51.492308,90.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,207.000000,...,38.868902,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
398,51.492308,80.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,100.000000,...,53.000000,8500.000000,4.900000,no,no,no,yes,poor,no,no

In [3]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes,classification_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,0,0,0,0,0,0,1,1,0,1
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,0,0,0,0,0,1,0,0,1
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,0,0,0,0,0,1,0,0,1
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,0,0,0,0,0,1,0,1,1
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,0,0,0,0,0,1,0,0,1
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,0,0,1,1,0,1,0,1,1
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,0,0,1,1,0,0,0,0,1
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,0,0,1,1,0,1,0,1,1
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,0,0,0,0,0,1,0,0,0

In [5]:
dataset.columns

Index(['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv',
       'wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc_normal', 'pc_normal',
       'pcc_present', 'ba_present', 'htn_yes', 'dm_yes', 'cad_yes',
       'appet_yes', 'pe_yes', 'ane_yes', 'classification_yes'],
      dtype='object')

In [7]:
indep=dataset[['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv',
       'wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc_normal', 'pc_normal',
       'pcc_present', 'ba_present', 'htn_yes', 'dm_yes', 'cad_yes',
       'appet_yes', 'pe_yes', 'ane_yes']]
indep

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,rbc_normal,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,1,0,0,0,0,0,0,1,1,0
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,1,0,0,0,0,0,1,0,0
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,1,0,0,0,0,0,1,0,0
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,1,0,0,0,0,0,1,0,1
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,1,0,0,0,0,0,1,0,0
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,1,0,0,1,1,0,1,0,1
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,1,0,0,1,1,0,0,0,0
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,1,0,0,1,1,0,1,0,1
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,1,0,0,0,0,0,1,0,0

In [8]:
dep=dataset[['classification_yes']]
dep

     classification_yes
0                     1
1                     1
2                     1
3                     1
4                     1
..                  ...
394                   1
395                   1
396                   1
397                   1
398                   0

[399 rows x 1 columns]

In [9]:
dataset["classification_yes"].value_counts()

1    249
0    150
Name: classification_yes, dtype: int64

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(indep,dep,test_size=1/3,random_state=0)
x_train,x_test,y_train,y_test

(      age     bp   al   su    bgr         bu        sc         sod       pot  \
 240  60.0  100.0  0.0  3.0  263.0  27.000000  1.300000  135.000000  4.300000
 218  57.0   80.0  0.0  0.0  120.0  48.000000  1.600000  137.528754  4.627244
 101  42.0   70.0  0.0  0.0   75.0  31.000000  1.200000  141.000000  3.500000
 311  66.0   70.0  1.0  0.0  248.0  30.000000  1.700000  138.000000  5.300000
 194  55.0   80.0  0.0  0.0  146.0  57.482105  3.077356  137.528754  4.627244
 ..    ...    ...  ...  ...    ...        ...       ...         ...       ...
 323  68.0   70.0  0.0  0.0   98.0  86.000000  4.600000  135.000000  3.400000
 192  54.0   90.0  1.0  0.0  150.0  18.000000  1.200000  140.000000  4.200000
 117  45.0   80.0  0.0  0.0  107.0  15.000000  1.000000  141.000000  4.200000
 47   30.0   80.0  0.0  0.0   89.0  42.000000  0.500000  139.000000  5.000000
 172  51.0   60.0  0.0  0.0  129.0  25.000000  1.200000  139.000000  5.000000

           hrmo  ...  rbc_normal  pc_normal  pcc_present  ba_present  htn_yes  \
 240  12.700000  ...           1          1            0           0        1
 218  11.300000  ...           1          1            0           0        1
 101  16.500000  ...           1          1            0           0        0
 311  12.518156  ...           1          1            0           0        1
 194   9.800000  ...           1          1            0           0        0
 ..         ...  ...         ...        ...          ...         ...      ...
 323   9.800000  ...           1          1            0           0        1
 192  12.518156  ...           1          0            0           0        0
 117  11.800000  ...           1          0            0           0        0
 47   16.700000  ...           1          1            0           0        0
 172  17.200000  ...           1          1            0           0        0

      dm_yes  cad_yes  appet_yes  pe_yes  ane_yes
 240       1        1          1       0        0
 218       1        0          1       0        0
 101       0        0          1       0        0
 311       1        0          1       0        0
 194       0        0          1       0        0
 ..      ...      ...        ...     ...      ...
 323       1        1          0       1        0
 192       0        0          0       1        1
 117       0        0          1       0        0
 47        0        0          1       0        0
 172       0        0          1       0        0

 [266 rows x 27 columns],
            age     bp   al   su         bgr    bu   sc         sod       pot  \
 132  46.000000   70.0  0.0  0.0  100.000000  47.0  0.5  142.000000  3.500000
 309  66.000000   90.0  2.0  0.0  153.000000  76.0  3.3  137.528754  4.627244
 334  69.000000   70.0  0.0  0.0   83.000000  42.0  1.2  139.000000  3.700000
 196  55.000000  100.0  1.0  4.0  297.000000  53.0  2.8  139.000000  4.500000
 246  60.000000   90.0  2.0  0.0  105.000000  53.0  2.3  136.000000  5.200000
 ..         ...    ...  ...  ...         ...   ...  ...         ...       ...
 349  71.000000   70.0  0.0  0.0   81.000000  18.0  0.8  145.000000  5.000000
 168  50.000000   80.0  0.0  0.0  137.000000  46.0  0.8  139.000000  5.000000
 150  48.000000  100.0  0.0  0.0  103.000000  79.0  5.3  135.000000  6.300000
 392  51.492308   60.0  3.0  0.0  148.112676  34.0  1.2  137.528754  4.627244
 66   34.000000   60.0  0.0  0.0   91.000000  49.0  1.2  135.000000  4.500000

           hrmo  ...  rbc_normal  pc_normal  pcc_present  ba_present  htn_yes  \
 132  16.400000  ...           1          1            0           0        0
 309  12.518156  ...           1          1            0           1        0
 334  16.200000  ...           1          1            0           0        0
 196  11.200000  ...           1          1            0           0        1
 246  11.100000  ...           0          1            0           0        0
 ..         ...  ...         ...        ...          ...         ...      ...
 349  14.700000  ...           1          1            0           0        0
 168  14.100000  ...           1          1            0           0        0
 150   6.300000  ...           1          1            0           0        1
 392  10.800000  ...           0          0            0           0        0
 66   13.500000  ...           1          1            0           0        0

      dm_yes  cad_yes  appet_yes  pe_yes  ane_yes
 132       0        0          1       0        0
 309       0        0          0       0        0
 334       0        0          1       0        0
 196       1        0          1       0        0
 246       0        0          1       0        0
 ..      ...      ...        ...     ...      ...
 349       0        0          1       0        0
 168       0        0          1       0        0
 150       0        1          0       0        0
 392       0        0          1       0        0
 66        0        0          1       0        0

 [133 rows x 27 columns],
      classification_yes
 240                   1
 218                   1
 101                   0
 311                   1
 194                   1
 ..                  ...
 323                   1
 192                   1
 117                   1
 47                    0
 172                   0

 [266 rows x 1 columns],
      classification_yes
 132                   0
 309                   1
 334                   0
 196                   1
 246                   1
 ..                  ...
 349                   0
 168                   0
 150                   1
 392                   1
 66                    0

 [133 rows x 1 columns])

In [13]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [14]:
x_train,x_test

(array([[ 0.48681432,  1.79924415, -0.68384276, ...,  0.51639778,
         -0.52223297, -0.44519456],
        [ 0.30305399,  0.26080096, -0.68384276, ...,  0.51639778,
         -0.52223297, -0.44519456],
        [-0.61574769, -0.50842064, -0.68384276, ...,  0.51639778,
         -0.52223297, -0.44519456],
        ...,
        [-0.43198735,  0.26080096, -0.68384276, ...,  0.51639778,
         -0.52223297, -0.44519456],
        [-1.35078903,  0.26080096, -0.68384276, ...,  0.51639778,
         -0.52223297, -0.44519456],
        [-0.06446668, -1.27764223, -0.68384276, ...,  0.51639778,
         -0.52223297, -0.44519456]]),
 array([[-0.37073391, -0.50842064, -0.68384276, ...,  0.51639778,
         -0.52223297, -0.44519456],
        [ 0.85433499,  1.03002255,  0.94028379, ..., -1.93649167,
         -0.52223297, -0.44519456],
        [ 1.03809533, -0.50842064, -0.68384276, ...,  0.51639778,
         -0.52223297, -0.44519456],
        ...,
        [-0.24822702,  1.79924415, -0.68384276, ..., -1.93649167,
         -0.52223297, -0.44519456],
        [-0.03431114, -1.27764223,  1.75234707, ...,  0.51639778,
         -0.52223297, -0.44519456],
        [-1.10577525, -1.27764223, -0.68384276, ...,  0.51639778,
         -0.52223297, -0.44519456]]))

In [15]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV
param_grid={'criterion':['gini','entropy'],
           'max_features':['auto','sqtr','log2'],
           'splitter':['best','random']}
grid=GridSearchCV(DecisionTreeClassifier(),param_grid,refit=True,verbose=3,n_jobs=-1,scoring='f1_weighted')
grid.fit(x_train,y_train)

Fitting 5 folds for each of 12 candidates, totalling 60 fits

C:\Users\PC\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:372: FitFailedWarning:
20 fits failed out of a total of 60.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
20 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\PC\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\PC\Anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 942, in fit
    X_idx_sorted=X_idx_sorted,
  File "C:\Users\PC\Anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 282, in fit
    "Invalid value for max_features. "
ValueError: Invalid value for max_features. Allowed string values are 'auto', 'sqrt' or 'log2'.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\PC\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:972: UserWarning: One or more of the test scores are non-finite: [0.89542463 0.96247693        nan        nan 0.92136769 0.96642854
 0.94695552 0.98127313        nan        nan 0.92894576 0.95858873]
  category=UserWarning,

GridSearchCV(estimator=DecisionTreeClassifier(), n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_features': ['auto', 'sqtr', 'log2'],
                         'splitter': ['best', 'random']},
             scoring='f1_weighted', verbose=3)

In [17]:
re=grid.cv_results_
grid_predictions=grid.predict(x_test)
grid_predictions

array([0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1,
       1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1,
       0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1,
       1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1,
       0], dtype=uint8)

In [18]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,grid_predictions)
print("Confusion Matrix:\n",cm)

Confusion Matrix:
 [[51  0]
 [ 4 78]]

In [19]:
from sklearn.metrics import classification_report
clf_report=classification_report(y_test,grid_predictions)
print("classification_report:\n",clf_report)

classification_report:
               precision    recall  f1-score   support

           0       0.93      1.00      0.96        51
           1       1.00      0.95      0.97        82

    accuracy                           0.97       133
   macro avg       0.96      0.98      0.97       133
weighted avg       0.97      0.97      0.97       133

In [20]:
from sklearn.metrics import f1_score
f1_macro=f1_score(y_test,grid_predictions,average='weighted')
print("The f1_macro value for best parameter{}:\n".format(grid.best_params_),f1_macro)

The f1_macro value for best parameter{'criterion': 'entropy', 'max_features': 'auto', 'splitter': 'random'}:
 0.9701163285572423

In [28]:
from sklearn.metrics import roc_auc_score
ROC=roc_auc_score(y_test,grid.predict_proba(x_test)[:,1])
print("roc_auc_score=",ROC)

roc_auc_score= 0.975609756097561

In [22]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.009852,0.005516,0.001209,0.001480,gini,auto,best,"{'criterion': 'gini', 'max_features': 'auto', ...",0.926978,0.775815,0.925524,0.905155,0.943651,0.895425,0.061039,8
1,0.012497,0.006248,0.000000,0.000000,gini,auto,random,"{'criterion': 'gini', 'max_features': 'auto', ...",0.981569,0.943699,0.944023,0.943093,1.000000,0.962477,0.023838,3
2,0.006248,0.007652,0.000000,0.000000,gini,sqtr,best,"{'criterion': 'gini', 'max_features': 'sqtr', ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
3,0.006249,0.007653,0.000000,0.000000,gini,sqtr,random,"{'criterion': 'gini', 'max_features': 'sqtr', ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,10
4,0.006248,0.007653,0.006249,0.007653,gini,log2,best,"{'criterion': 'gini', 'max_features': 'log2', ...",0.926978,0.961755,0.869925,0.924528,0.923652,0.921368,0.029408,7
5,0.009373,0.007653,0.000000,0.000000,gini,log2,random,"{'criterion': 'gini', 'max_features': 'log2', ...",0.963284,0.944161,0.981217,0.962264,0.981217,0.966429,0.013860,2
6,0.006249,0.007653,0.003124,0.006248,entropy,auto,best,"{'criterion': 'entropy', 'max_features': 'auto...",0.945100,0.922185,0.962573,0.961826,0.943093,0.946956,0.014812,5
7,0.006249,0.007653,0.003124,0.006248,entropy,auto,random,"{'criterion': 'entropy', 'max_features': 'auto...",0.944135,0.981014,1.000000,0.981217,1.000000,0.981273,0.020400,1
8,0.003125,0.006249,0.000000,0.000000,entropy,sqtr,best,"{'criterion': 'entropy', 'max_features': 'sqtr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,11
9,0.003124,0.006248,0.000000,0.000000,entropy,sqtr,random,"{'criterion': 'entropy', 'max_features': 'sqtr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,12
10,0.006249,0.007653,0.003124,0.006249,entropy,log2,best,"{'criterion': 'entropy', 'max_features': 'log2...",0.908501,0.905069,0.907035,0.943093,0.981031,0.928946,0.029601,6
11,0.006248,0.007652,0.000000,0.000000,entropy,log2,random,"{'criterion': 'entropy', 'max_features': 'log2...",0.981569,0.943041,0.944023,0.943093,0.981217,0.958589,0.018623,4

In [23]:
print(grid.best_params_)

{'criterion': 'entropy', 'max_features': 'auto', 'splitter': 'random'}

In [25]:
age_input=float(input('Age:'))
bp_input=float(input('bp'))
al_input=float(input("al:"))
su_input=float(input("su:"))
bgr_input=float(input("bgr:"))
bu_input=float(input("bu:"))
sc_input=float(input("sc:"))
sod_input=float(input("sod:"))
pot_input=float(input("pot:"))
hrmo_input=float(input("hrmo:"))
pcv_input=int(input("pcv:"))
wc_input=int(input("wc:"))
rc_input=int(input("rc:"))
sg_b_input=int(input("sg_b:"))
sg_c_input=int(input("sg_c:"))
sg_d_input=int(input("sg_d:"))
sg_e_input=int(input("sg_e:"))
rbc_normal_input=int(input("rbc_normal:"))
pc_normal_input=int(input("pc_normal:"))
pcc_present_input=int(input("pcc_present:"))
ba_present_input=int(input("ba_present:"))
htn_yes_input=int(input("htn_yes:"))
dm_yes_input=int(input("dm_yes:"))
cad_yes_input=int(input("cad_yes:"))
appet_yes_input=int(input("appet_yes:"))
pe_yes_input=int(input("pe_yes:"))
ane_yes_input=int(input("ane_yes:"))

Age:55
bp75
al:0.00
su:1
bgr:200
bu:30
sc:2.5
sod:145
pot:3.8
hrmo:15
pcv:0
wc:1
rc:0
sg_b:1
sg_c:0
sg_d:1
sg_e:0
rbc_normal:1
pc_normal:0
pcc_present:0
ba_present:0
htn_yes:1
dm_yes:1
cad_yes:1
appet_yes:1
pe_yes:1
ane_yes:0

In [26]:
Future_prediction=grid.predict([[age_input,bp_input,al_input,su_input,bgr_input,bu_input,sc_input,sod_input,pot_input,hrmo_input,pcv_input,wc_input,rc_input,sg_b_input,sg_c_input,sg_d_input,sg_e_input,rbc_normal_input,pc_normal_input,pcc_present_input,ba_present_input,htn_yes_input,dm_yes_input,cad_yes_input,
       appet_yes_input,pe_yes_input,ane_yes_input]])
print("Future_Prediction={}".format(Future_prediction))

Future_Prediction=[1]